<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daniel Dorestant</title>
<style>
    h1 {text-align:center}
    img {text-align:center}
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}

</style>
</head>
<body>
<div style="background-color:Black">
<h1 style="color:White">Daniel Dorestant (Vegeta)</h1>
<img src="https://c.tenor.com/8tVykc_RBFMAAAAd/vegeta.gif" alt="Vegeta" class="center" height=400 width=100 />
</div>

<div>
<h1 style="color:Black">About</h1>
    <h3>Daniel Dorestant</h3>
    <ul>
        <li>Age: 32</li>
        <li>Career: IT Support</li>
        <li>Characteristics: Sometimes Lazy , Sometimes Diligent , Always YOUR Prince , Laid Back</li>
        <li>Hobbies: Exercise, Sports, Video Games, Python(extra credit?) </li>
        <li>Spirit Animal: Vegeta, prince of all Sayians. Constantly training to be the strongest. Way too much pride. Role model to us all.</li>
    </ul>
 </div>

<div style="background-color:LightGray">
<h1 style="color:Black">Passion Project</h1>
        <p> Some sort of animated short for staring my nephews, for my nephews to watch.<br>
            Not because I like them, but because those vids are lucrative on youtube.<br>
            Trying to learn 3d modeling and animation using Blender, not going well.<br>
             <br>
        </p>
</div>

<div>
<h1 style="color:Black">Future Accomplishments</h1>
    <ul>
        <li>Software Developer</li>
        <li>Consultant, working remotely, in a fancy robe.</li>
        <li>Pay something big off, for my parents.</li>
        <li>Flex on a minimum of 1 Ex, like 21 Savage.</li>
    </ul>
</div>

<div style="background-color:LightGray">
<h1 style="color:Black">Affiliate Links</h1>
    <ul>
        <li><a href="onlyfans.com/danieldorestant">onlyfans.com/danieldorestant</a></li>
        <li><a href="https://c.tenor.com/8tVykc_RBFMAAAAd/vegeta.gif">Vegeta Gif</a></li>
        <li><a href="https://www.youtube.com/watch?v=HwrMbhlBM8k">21 Savage ft. Future - X</a></li>
    </ul>
</div>

</body>
</html>