<!DOCTYPE html>
<html lang="en">
<head>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

    <meta charset="UTF-8">
    <title>Daniel Dorestant</title>

</head>
<body>
<div class="div-header">
<img src="https://m.media-amazon.com/images/I/31LoLnTU56L.jpg" alt="Batman" class="center" height=400 width=100 />
<h1 class="princedaniel">PrinceDaniel.com</h1>
</div>

<div>
<table class="about-table">
    <h1 style="color:Black">About</h1>
    <h3>Daniel Dorestant</h3>
    <ul>
        <li>Age: 32</li>
        <li>Career: IT Support</li>
        <li>Characteristics: Sometimes Lazy , Sometimes Diligent , Always YOUR Prince , Laid Back</li>
        <li>Hobbies: Exercise, Sports, Video Games, Python(extra credit?) </li>
        <li>Spirit Animal: Vegeta, prince of all Sayians. Constantly training to be the strongest. Way too much pride. Role model to us all.</li>
    </ul>
</table>
 </div>

<div>
<h1 style="color:Black">Passion Project</h1>
        <p> Some sort of animated short for staring my nephews, for my nephews to watch.<br>
            Not because I like them, but because those vids are lucrative on youtube.<br>
            Trying to learn 3d modeling and animation using Blender, not going well.<br>
             <br>
        </p>
</div>

<div>
<h1 style="color:Black">Future Accomplishments</h1>
    <ul>
        <li>Software Developer</li>
        <li>Consultant, working remotely, in a fancy robe.</li>
        <li>Pay something big off, for my parents.</li>
        <li>Flex on a minimum of 1 Ex, like 21 Savage.</li>
    </ul>
</div>

<div>
<h1 style="color:Black">Affiliate Links</h1>
    <ul>
        <li><a href="onlyfans.com/danieldorestant"><img src="https://c.tenor.com/8tVykc_RBFMAAAAd/vegeta.gif" alt="Vegeta" class="center" height=20 width=20 /></a></li>
        <li><a href="https://c.tenor.com/8tVykc_RBFMAAAAd/vegeta.gif">Vegeta Gif</a></li>
        <li><a href="https://www.youtube.com/watch?v=HwrMbhlBM8k">21 Savage ft. Future - X</a></li>
    </ul>
</div>

</body>
</html>